<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado Pai</title>

    <link rel="shortcut icon" href="/images/Foto Cristiano.jpg" type="image/jpg">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/homenagem.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
</head>
<body id="page-study">
    <div id="container">
        
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
             </div>
             <div class="foto">
                <img src="/images/Pai.jpg" alt="texto">
            </div>
            <main>
    <article class="folder">
       
        <p>Ser pai, não é apenas ter um filho, ser pai é cuidar, amar e educar. Poderia até dizer que você é o melhor pai do mundo, mas não vejo assim, enxergo como um patamar bem além disso, fico até sem palavras para descrever. O dia é seu mas quem tem que agradecer sou eu por cuidar, amar, proteger e me ensinar por todos esses anos. Te desejo um...</p>
        
        <header>
            <div>
                <strong>Feliz Dia dos Pais</strong>
                </div>
        </header>
    
        <footer>    
                <img id="te-amo" src="/images/Plano de Fundo.png" alt="foto">
        </footer>

    </article>
          </main>
</body>
</html>